body {
  font-family: 'Epilogue', sans-serif;
}

img {
  width: 300px;
  height: 300px;
  right: 80px;
}

/* UKURAN LAPTOP */

@media screen and (max-width: 992px) {
  .hero {
    margin-top: 140px;
    padding-top: 80px;
  }

  .about {
    padding-top: 150px;
  }

  .project {
    padding-top: 60px;
  }

  .contact {
    padding-top: 200px;
  }

  #home {
    padding-top: 150px;
  }
}

/* UKURAN HANDPHONE */

@media screen and (max-width: 576px) {
  #home {
    display: flex;
    flex-wrap: wrap;
  }

  #about {
    text-align: center;
  }

  #project {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
  }

  #contact {
    display: flex;
  }
  p .col-lg-10 {
    text-align: center;
  }

  .horizontal {
    display: flex;
  }
}
